/* color palette from <https://github.com/vuejs/theme>*/
@import './couleurs';


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  display: flex;
  place-items: center;
  color: $dark-color;
  background-color: $white;
  transition:
          color 0.5s,
          background-color 0.5s;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;

  position: relative;
  overflow: hidden;
}

ul{
  list-style: none;
}

.wrapper{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@mixin animer {transition: all .3s ease;}
