.card-container{
  display: flex;
  flex-flow: row wrap;

  justify-content: flex-start;
  align-content: flex-start;
}

.card-item{
  border: $white solid 1px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.20);
  @include animer;
  margin: 15px;

  &:hover{
    @include animer;
    transform: scale(1.1);
    border-color: $black;
    .card-body{
      @include animer;
      background-color: $primary-color;}
  }
}

.card-img{

  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  img{
    width: 70%;
    margin: auto auto -20px;
    z-index: -2;
  }
}

.card-body{
  background-color: $dark-color;
  border-radius: 10px;
  padding: 10px;
}

.card-name{

  text-align: center;
  span{margin: auto 2px }
  color: $white;
}
