*{
  cursor: none;
}

.cursor-circle{
  position:absolute;
  width:50px;
  height:50px;
  border: 1px solid $primary-color;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.cursor-dot{
  position: absolute;
  width: 10px;
  height: 10px;
  background: $primary-color;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50, -50%);
  z-index: 1000;
}


.shadow-box{
  position: absolute;
  box-shadow: 0 0 50px 30px  $primary-color;
  border-radius: 50%;
  pointer-events: none;
  transform: translate(-50%, -50%);
}